 body{  
    font-family:sans-serif;  
  color:black;    
   background-color:lightblue;
   line-height:30px;
   float:right;
     }
.bloop{
       color:purple;
       }
.jm{
     float:right;
      width:50%;
       }
.btn{
     color:white;
      background-color:#8845f4;
       padding:10px 22px 10px 22px;
        border-radius:10px;
        text-decration:none;
            }{}
  h1{ 
       font-size:3.9em;
           }
 .my{
     width:70%;
      float:none;
        }
 .contain{
        padding-lef:5%;
         display:inline-block;
          }
   p{ 
      font-size:25px;
      }
  .experience{
         padding:30px;
         margin:30px;
         background-color:rgb(238,251,255,);
         border-radius:20px;
         }
   .item{
        padding:10px;
        border-left:1px solid rgba(137,130,247,2);
          }